make.sys
*.[oaxd]
*.mod
*.tmp
ELSI/bin
ELSI/doc/html
ELSI/doc/latex
EXTERNAL/PEXSI/fortran/f_driver_ksdft_
EXTERNAL/PEXSI/fortran/f_driver_pselinv_complex_
EXTERNAL/PEXSI/fortran/f_driver_pselinv_complex_unsym_
EXTERNAL/PEXSI/fortran/f_driver_pselinv_real_
EXTERNAL/PEXSI/fortran/f_driver_pselinv_real_unsym_
